USE [wood];
/****** Object:  Table [dbo].[Kub]    Script Date: 12.06.2023 11:38:07 ******/
/*SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kub](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[length] [float] NOT NULL,
	[diameter] [int] NOT NULL,
	[value] [float] NOT NULL,
 CONSTRAINT [PK_Kub] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF); ON [PRIMARY]
) ON [PRIMARY]
GO*/
SET IDENTITY_INSERT [dbo].[Kub] ON; 

INSERT [dbo].[Kub] ([id], [length], [diameter], [value]) VALUES (1, 1.5, 14, 0.025);
INSERT [dbo].[Kub] ([id], [length], [diameter], [value]) VALUES (2, 1.5, 16, 0.033);
INSERT [dbo].[Kub] ([id], [length], [diameter], [value]) VALUES (3, 1.5, 18, 0.041);

SET IDENTITY_INSERT [dbo].[Kub] OFF;